[flexcdc]
;location of mysqlbinlog.  path will be searched if this path is not provided
mysqlbinlog=/usr/bin/mysqlbinlog

;comma separated list of databases to collect changelogs from
;only_databases=flexviews,db1,db2,db3

;The database in which to write changelogs
database=flexviews

;Automatically create changelog tables and enable changelogging for ALL tables.
;You might not want to use this option if any of the following is true:
;  you have lots of tables
;  you use temporary tables
;  you drop and create tables with the same name

;In those situations, instead set auto_changelog=false and use the flexviews.create_mvlog function (included in Flexviews)
;You can also call the public function flexviews.create_mvlog() (see flexcdc.php)
auto_changelog=true

;If you set raise_warnings=true then when Flexviews sees an unsupported command (like DROP) it raises a warning to
;stdout.  You might want to use the 'logger' utility to capture the output if you turn this on
;raise_warnings = true

;Bulk insertion inserts all changes in a transaction as one big INSERT statement.
;Right now Flexviews does not check max_allowed_packet and might construct insert statements that are too large to replicate
bulk_insert=true


;The SOURCE is where the change logs are read from.  This does not have to be the same as the local machine.
[source]
port=3306

;this user requires the same privs as a replication slave
user=root
host=127.0.0.1
password=

;The DEST is the place where logs are written to.  You should be able to collect from more than one source into a single
;dest, but this is experimental at best
[dest]
port=3306
;this user requires SUPER privs
user=root
host=127.0.0.1
password=

